.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Sacramento', sans-serif;
  font-size: 70px;
  text-align: center;
}

.navbar {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff0db;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
  /* margin: auto; */
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.infoBoxTopContainer {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.infoBoxTopImageContainer {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.infoBoxTopImage {
  width: 85%;
  height: auto;
  border-radius: 12px;
}

.infoBoxTopTextContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Quicksand', sans-serif;
  padding-left: 20px;
}

.textCenter {
  text-align: center;
}

.footer {
  font-family: 'Quicksand', sans-serif;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff0db;
  text-align: center;
}

.allProductsContainer {
  border-left: 100px;
  border-right: 100px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: 150px;
}

.productCard {
  height: 350px;
  width: 275px;
  /* border: 3px solid black; */
  overflow: hidden;
  border-radius: 12px;
}

.productCardImage {
  height: auto;
  width: 100%;
}

.productCardImageLandscape {
  height: 100%;
  width: auto;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.productTypeText {
  font-size: 30px;
}

.header {
  font-family: 'Quicksand', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 54px;
  text-align: center;
}

#checkoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

#checkoutForm {
  /* display: flex;
  justify-content: center; */
  /* display: inline-block; */
  /* width: 50%; */
  /* margin-left: 200px; */
  padding-right: 150px;
}

#cartDetails {
  /* display: flex;
  justify-content: center; */
  /* text-align: center; */
  /* width: 50%; */
  /* margin-right: 200px; */
  padding-left: 150px;
}

/* #checkoutProductDetails {
  display: flex;
  flex-direction: column;
} */

/* .subHeader {
  font-family: 'Quicksand', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  text-align: center;
} */

#productCardButton {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

#productCardHeader {
  font-size: 19px;
}

#navbarShoppingCart {
  font-family: 'Quicksand', sans-serif;
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
  background-color: #c7fce7;
  width: 100px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#cartContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#addressContainer {
  display: flex;
  flex-direction: column;
}

input[name=customerName] {
  font-family: 'Quicksand', sans-serif;
  width: 250px;
}

input[name=addressLine1], input[name=addressLine2] {
  font-family: 'Quicksand', sans-serif;
  width: 250px;
}

input[name=city] {
  font-family: 'Quicksand', sans-serif;
  width: 220px;
}

select[name=state] {
  font-family: 'Quicksand', sans-serif;
}

input[name=postalCode] {
  font-family: 'Quicksand', sans-serif;
  width: 95px;
}

input[name=submit] {
  width: 190px;
}

#homepageAllProductsButton:hover, #productCardButton:hover {
  background-color: #c7fce7;
  color: black;
  outline: none;
  box-shadow: none;
}

#homepageAllProductsButton:focus, 
#homepageAllProductsButton:active:focus, 
#homepageAllProductsButton.active:focus,
#productCardButton:focus, 
#productCardButton:active:focus, 
#productCardButton.active:focus {
  outline: none;
  box-shadow: none;
  background-color: #a4f5d3;
}

#weightContainer {
  display: flex;
  flex-direction: row;
}

.arrowButton {
  border: 1px solid black;
}

#payWithSquareButton {
  display: flex;
  justify-content: center;
}

#checkoutProductDetailsContainer {
  display: flex;
}

#oneX {
  display: flex;
  align-items: center;
  margin-right: 30px;
}